/* Home page style */

.title, .subtitle {
  text-align: center;
}
.subtitle {
  font-size: 27px !important;
}
.link {
  font-size: 22px;
  line-height: 3rem;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
