/* Home page style */

.main {
  width: 900px;
  margin: 2rem auto;
  text-align: center;
}
.title, .subtitle, .description {
  text-align: center;
}
.subtitle {
  font-size: 27px !important;
}
.description {
  color: #004723 !important;
}
.link {
  font-size: 22px;
  line-height: 3rem;
}
.link a {
  color: #000;
  text-decoration: none;
}
.link a:hover {
  color: #0085ff;
  transition: color 0.4s;
  transition: text-decoration 0.4s;
  text-decoration: underline;
}
